.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: white;
    background-color: gray;
}

a {
    color: gray;
    text-decoration: none;
    background-color: transparent;
}

.custom-card {
    width: 330px;
}